service ril-daemon2 /system/vendor/bin/hw/rild -l /system/vendor/lib/libsec-ril-dsds.so -c 2
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
